.app{
    -fx-background-color: #111111;
     -fx-font-family: "sans-serif";
}

.title_pane{
    -fx-background-color: #1B1E2A;
}

.login_pane{
    -fx-background-color: #0E0D2C;
    -fx-padding: 20;
    -fx-background-radius: 15;
}

.label{
    -fx-text-fill: #FFFFFF;
    -fx-padding: 25 0 10 0;
    -fx-font-size: 20;
}

.input{
    -fx-background-color: #C0BBBB;
    -fx-font-size: 20;
    -fx-background-radius: 5;
    -fx-min-height: 30;
}

.login_label{
    -fx-padding: 10 0 20 0;
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.title{
    -fx-font-size: 34;
    -fx-font-weight: bolder;
}

.login_button{
    -fx-background-color: #0AC30A;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.login_button:hover{
    -fx-opacity: 0.8;
}

.login_button_box{
    -fx-padding: 25;
    -fx-border-insets: 25;
    -fx-background-insets: 25;
}

.error_label{
    -fx-font-size: 16;
    -fx-text-fill: red;
}

.register_label{
    -fx-font-size: 16;
}