.app{
    -fx-background-color: #111111;
    -fx-font-family: "sans-serif";
}

.title_pane{
    -fx-background-color: #1B1E2A;
}

.login_pane{
    -fx-background-color: #0E0D2C;
    -fx-padding: 20;
    -fx-background-radius: 15;
}

.label{
    -fx-text-fill: #FFFFFF;
    -fx-padding: 25 0 10 80;
    -fx-font-size: 20;
}

.input{
    -fx-background-color: #C0BBBB;
    -fx-font-size: 20;
    -fx-background-radius: 5;
    -fx-min-height: 30;
    -fx-max-width: 300;
}

.login_label{
    -fx-padding: 10 0 20 0;
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.title{
    -fx-font-size: 34;
    -fx-font-weight: bolder;
    -fx-padding: 20 0 20 0;
}

.login_button{
    -fx-background-color: #0AC30A;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.login_button:hover{
    -fx-opacity: 0.8;
}

.login_button_box{
    -fx-padding: 25;
    -fx-border-insets: 25;
    -fx-background-insets: 25;
}

.error_label{
    -fx-font-size: 16;
    -fx-text-fill: red;
}

.register_label{
   -fx-padding: 10 0 20 0;
   -fx-font-size: 32;
   -fx-text-fill: black;
   -fx-font-weight: bold;
}

.redirect_register_pane{
    -fx-background-color: #0E0D2C;
    -fx-background-radius: 15;
}

.register_pane{
    -fx-background-color: FFFFFF;
    -fx-background-radius: 15;

}

.input_register{
    -fx-background-color: #C0BBBB;
    -fx-font-size: 20;
    -fx-background-radius: 5;
    -fx-min-height: 40;
    -fx-max-width: 400;
}

.label_Register_intro{
    -fx-padding:0;
     -fx-padding: 10 0 20 0;
     -fx-font-size: 28;
     -fx-font-weight: bold;
}
.redirect_login_text{
    -fx-padding:0;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-padding: 20 0 0 0;
}
.intro_text{
    -fx-padding:0;
    -fx-font-size: 15;
    }

 .label_register{
    -fx-text-fill: #000000;
    -fx-padding: 25 0 0 100;
    -fx-font-size: 16;
    -fx-font-weight: bold;


 }
.register_button{

    -fx-background-color: #0AC30A;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.register_button:hover{
    -fx-opacity: 0.8;
}

.register_button_box{
    -fx-padding: 0;
    -fx-border-insets: 25;
    -fx-background-insets: 25;
}
.day_box{
    -fx-background-color: #283155;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24;
}

.day_label{
    -fx-padding: 10;
}

.treino_label{
    -fx-padding: 10 0 10 0;
}

.date_label{
    -fx-padding: 2;
    -fx-opacity: 0.2;
}

.treino_box{
    -fx-border-color: #FFFFFF;
    -fx-background-color: #212121;
}

.linha{
    -fx-fill: red;
    -fx-background-color: red;
}

.planejamento_button_box{
    -fx-padding: 25;
    -fx-border-insets: 25;
    -fx-background-insets: 25;
}

.planejamento_button{
    -fx-background-color: #263880;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-background-radius: 5;
}

.user_button_box{
    -fx-padding: 25;
    -fx-border-insets: 50;
    -fx-background-insets: 25;
}

.user_button{
    -fx-background-color: #173CD6;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-background-radius: 5;
}

.user_pane{

    -fx-background-color: #0e0d2c;
}

.greetingPane{
    -fx-background-radius: 5;
    -fx-background-color: #EFF0F1;
    -fx-padding: 2 0 2 0;

}

.greeting{
    -fx-text-fill: #263880;
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

.user_data_label{
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

