.app{
    -fx-background-color: #111111;
    -fx-font-family: "sans-serif";
}

.title_pane{
    -fx-background-color: #1B1E2A;
}


.title{
    -fx-font-size: 34;
    -fx-font-weight: bolder;
    -fx-padding: 20 0 20 0;
    -fx-text-fill: #FFFFFF;
}



